@import 'mixins';
@import 'variables';

html {
   @include box-sizing(border-box);
   font-size: 62.5%;
}

body {
    color: $color-main;
    background-color: $color-background;
    font-size: $font-size-base;
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
}

*, *:after, *:before {
    @include box-sizing(inherit);
}

p {
    margin: 0;
}